# Ignore node_modules
node_modules/
blog-backend/node_modules/
blog_frontend/node_modules/

# Ignore environment files
.env
.env.local
.env.*.local

# Ignore Docker files
Dockerfile
docker-compose.yml
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db